.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.5);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000; /* MUY importante */
  
}

.contenido-modal {
  background: white;
  padding: 24px;
  border-radius: 12px;

  min-width: 300px;
  max-width: 90%;

  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}
